<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="StaticContent" patternSyntax="Wildcard">
          <action type="Rewrite" url="public{REQUEST_URI}" logRewrittenUrl="true" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <match url="*.*" />
        </rule>
        <rule name="DynamicContent">
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="app.js" logRewrittenUrl="true" />
          <match url="/*" />
        </rule>
      </rules>
    </rewrite>
		<iisnode watchedFiles="*.js;lib\*;node_modules\*;routes\*;views\*" />
        <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>
