extends layout

block innerContent
	div.row
		#formHeader.span12
			h3 Login
			hr
		#formSection.span12
			span
				| You must be logged in to perform the selected action. Please login before performing this action.